extends layout

block content
	#inicioPagina

		.w3-container(id="id" name=userid)
			.w3-card-4
				header.w3-container.w3-blue
					h3 Fotos de Perfil
				.w3-container(style="float: left;")
					div(id="listaImg" style="flex: 50%;padding: 4px;")
						for file in fotos.fotoPerfil.fotos
							a(href="http://localhost:3000/api/users/atualizarFotoPerfil?fotoId=" + file._id)
								img(style="max-width: 250px; max-height: 250px; margin-top: 80px;margin-right: 20px;vertical-align: middle;" src="http://localhost:3000/api/files/foto?userId=" + userid + "&fotoId=" + file._id)
	br
	br
	a(href="/pubs") Voltar ao Feed
	br
	br
	footer.w3-container.w3-blue(style="text-align: center;")
		address Powered by Desenvolvimento de Aplicações Web
		
	script(src="/javascripts/fotosPerfil.js")
	script(src="/javascripts/axios.min.js")