label
	b Titulo
input#filesTitulo.w3-input.w3-border.w3-light-grey(type='text' name='fTitulo' required)
br
#listaFiles
input#addFiles.w3-btn.w3-border(type='button' value='Adicionar ficheiros' style='font-size:10px;')
br