extends layout

block content
    .w3-card-4
        header.w3-container(style='background-color: rgb(59,100,170); color: white;')
            h1 Bem vindo ao myFacebook
        .w3-container
            a(href="/pubs") Publicações Públicas
        footer.w3-container(style="background-color: rgb(59,100,170); color: white; text-align: center;")
            address Powered by Desenvolvimento de Aplicações Web