extends layoutBase
block content1
    .w3-bar.w3-light-grey
        a.w3-bar-item.w3-button(href="/") Home
        a.w3-bar-item.w3-button(href="/login") Login
        a.w3-bar-item.w3-button(href="/pubs/publicar") Nova Publicação
    block content
