extends layout

block content
    h1 Adicionar Lista
    .w3-container
        form.w3-container(action="/pubs" method ="POST" id="lista")
            input.w3-input(name="titulo" type="text" placeholder = "Título da Lista")
            input.w3-input(name="item" type="text" placeholder = "Item da Lista")
            input.w3-btn(type = "submit" value = "login")
            input.w3-btn(type = "button" id = "adicionarLinha" value = "Adicionar Nova Linha")