.w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(59,100,170); color: white;')
    h7
        b Lista
table(style='width:100%; margin-top:10px; margin-bottom:5px;')
    tr(align='left')
        th(style='width:100%') &nbsp; Título
    tr
        td(style='width:100%')
            input.w3-input.w3-border.w3-round-large(id='titulo' type='text' placeholder='Título da Lista' style='width:50%' required)
    tr(align='left')
        th(style='width:100%') &nbsp; Hashtags
    tr
        td(style='width:100%')
            input.w3-input.w3-border.w3-round-large(id='hashtags' type='text' placeholder='Hashtags' style='width:50%' required)
    tr(align='left' style='margin-top:10px;')
        th(style='padding-top: 0.5em; width:100%') &nbsp; Lista
    tr
        td(style='width:100%')
            #listaItens
                input.w3-input.w3-border.w3-round-large(id='item1' type='text' placeholder = 'Item da Lista' style='width:100%' required)
            input.w3-btn.w3-border.w3-round-large(type = 'button' id = 'adicionarIten' value = 'Adicionar item' style='background-color: rgb(59,100,170); color: white; font-size:10px; margin-top:10px; margin-left:10px;')                        