fieldset(id="inputs")
    legend Preencha os campos abaixo!
    input.w3-input(id="username" type="text" placeholder = "Username")
    input.w3-input(id="titulo" type="text" placeholder = "Título da Lista")
    input.w3-input(id="item1" type="text" placeholder = "Item da Lista")
    
input.w3-btn.w3-blue(type = "button" id = "adicionarLinha" value = "Adicionar novo item" style='margin-left:25px; margin-top:10px')                        

