extends layoutBase

block content1
    .w3-bar(style="position: absolute;  width:100%; display:flex; background-color: rgb(59,100,170); color: white; top:0px; left:0px; height:38px;border-bottom: 0px solid #cacaca;position: fixed;")
        a.w3-bar-item.w3-button(href="/publicas") Publicações Públicas
        a.w3-bar-item.w3-button(href="/registo") Registo
    .w3-card-4
        .w3-container(style = "background-image:url('/images/default.jpeg');position: absolute; top: 0; z-index:-1; left: 0; height: 100%; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;")
            .w3-container(align="center" style='height: 100%; display: flex; align-items: center; justify-content: center;') 
                .w3-container(style= "width:25%;")
                    .w3-card-4.w3-dark-grey.w3-round-large.w3-border
                        .w3-container
                            form(action="/login" method = "POST")
                                div(style='margin-top:10px')
                                    label(for="username")
                                        b Username
                                    input.w3-input.w3-round-large(name="username" type="text" placeholder = "Username" style="text-align:center;" required)
                                div(style='margin-top:10px')
                                    label(for="password")
                                        b Password
                                    input.w3-input.w3-round-large(name="password" type="password" placeholder = "Password" style="text-align:center;" required)
                                .w3-container(style='margin-top:15px')
                                    input.w3-btn.w3-black.w3-round-large(type = "submit" value = "login" style='margin-bottom:10px')
                        .w3-container
                            if msg
                                .w3-panel.w3-red
                                    p=msg
                                    
                    br
                    form(action="/auth/facebook" method = "GET")
                        input.w3-btn.w3-blue.w3-round-large(type = "submit" value = "Login com Facebook" style= "width:100%;")
    