label
    b Titulo
input#titulo.w3-input.w3-border.w3-light-grey(type='text' name='titulo')
br
label
    b Texto
textarea#texto.w3-input.w3-border.w3-light-grey(rows='3' cols='40' type='text' name='texto' required)
br
label 
    b Autor
input#autor.w3-input.w3-border.w3-light-grey(type='text' name='autor' required)
br