.w3-container.w3-border.w3-round-large(style='text-align:center; background-color: rgb(59,100,170); color: white;')
    h7
        b Opinião
table(style='width:100%; margin-top:10px; margin-bottom:5px;')
    tr(align='left')
        th &nbsp; Opinião
    tr
        td
            textarea#opiniao.w3-input.w3-border.w3-round-large(rows='3' cols='40' name="opiniao" type="text" placeholder="Conte-nos o que está a pensar...")
    tr(align='left')
        th &nbsp; Hashtags
    tr
        td
            textarea#hashtags.w3-input.w3-border.w3-round-large(rows='3' cols='40' name="hashtags" type="text" placeholder="Hashtags")