input#opiniao.w3-input(name="opiniao" type="text" placeholder = "Conte-nos o que está a pensar...")
br
#listaFiles
input#addFiles.w3-btn.w3-border(type='button' value='Adicionar ficheiros' style='font-size:10px;')
br