extends layout

block content
	#inicioPagina

		.w3-container(id="id" name= perfil._id style="height: 100%;")
			.w3-card-4(style="width:100%")
				header.w3-container.w3-round-large(style='background-color: rgb(59,100,170); color: white;')
					h3 Perfil de 
						=perfil.nome
				.w3-card-4(style="width: 25%; float: left")
					img(style="max-width: 90%; margin-top: 5%; margin-left: 5%;" src="http://localhost:3000/api/files/foto?userId=" + perfil._id + "&fotoId=" + perfil.fotoPerfil.idAtual)
					if(perfil.otherUser == false)	
						input.w3-container.w3-round-large(id='fotosPerfil' value='Ver Fotos Perfil' style='background-color: rgb(59,100,170); color: white;max-width: 70%; margin-left:15%; margin-top:2%')
					h3(style="margin-top: 5%; margin-left: 10%;")= perfil.nome
					p(style="margin-top: -5%;margin-left: 15%;") Username: 
						=perfil.username
					p(style="margin-top: -5%;margin-left: 15%;")= perfil._id 
					div(id="seguir7ignorar")
						if(perfil.otherUser == true)
							if(perfil.segue == false)
								a(id="ignorar" style="visibility: visible;")
									img(id="ignorarImg" style="visibility: visible; cursor:pointer;max-width: 50px; max-height: 50px; margin-left: 15%;" src="http://localhost:3000/api/files/check")
								a(id="seguir" style="visibility: hidden;")
									img(id="seguirImg" style="visibility: hidden; cursor:pointer;max-width: 50px; max-height: 50px; margin-left: 20%;" src="http://localhost:3000/api/files/plus")
							else
								a(id="ignorar" style="visibility: hidden;")
									img(id="ignorarImg" style="visibility: hidden; cursor:pointer;max-width: 50px; max-height: 50px; margin-left: 15%;" src="http://localhost:3000/api/files/check")
								a(id="seguir" style="visibility: visible;")
									img(id="seguirImg" style="visibility: visible; cursor:pointer;max-width: 50px; max-height: 50px; margin-left: 20%;" src="http://localhost:3000/api/files/plus")
								
					h3(style="margin-top: 5%; margin-left: 10%;") Publicações Feitas: 
						=perfil.npubs
					if(perfil.otherUser == true)
						p(style="margin-left:15%; margin-top: -2%") Publicações Invisiveis: 
							=perfil.npubsInvisiveis
				.w3-container(style="width:75%; float:right; margin-top:15px;")
					listaPublicacoes(id=perfil.username)
	br
	br
	a(href="/pubs") Voltar ao Feed
	br
	br
	div(style="bottom: 0px; float: bottom")
		footer.w3-container.w3-round-large(style="background-color: rgb(59,100,170); color: white;text-align: center;position: absolute; bottom: 0px")
			address Powered by Desenvolvimento de Aplicações Web
	
	script(src="/javascripts/perfil.js")
	script(src="/javascripts/axios.min.js")