a(href="http://localhost:3000/api/files/foto?userId=" + uid + "&fotoId=" + foto._id)
        img(style="max-width: 250px; max-height: 250px; margin-top: 80px;margin-right: 20px;vertical-align: middle;" src="http://localhost:3000/api/files/foto?userId=" + uid + "&fotoId=" + foto._id)