li    
    a(href="http://localhost:3000/api/files/foto?userId=" + uid + "&fotoId=" + foto._id)
        img(style="max-width: 250px; max-height: 250px;" src="http://localhost:3000/api/files/foto?userId=" + uid + "&fotoId=" + foto._id)